@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo,
.menu ul {
  display: flex;
  align-items: center;
}

nav h2 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 20px;
}

.pink-text {
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo img {
  width: 86.041px;
  height: 40px;
}

.menu ul li {
  list-style: none;
  margin-left: 32px;
}

.menu ul li a,
.menu ul li button {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.menu ul li button {
  padding: 18px 24px;
  border: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.menu ul li>button:hover{
    cursor: auto;
}

.fa-youtube {
  color: #f61c0d;
  margin: 0 16px 0 24px;
}

.banner-area {
  display: flex;
  align-items: center;
}

.banner-left {
  width: 50%;
  background-image: url("./images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 150px 0;
}

.banner-left p {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.banner-left h1 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.banner-left .one-click {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-left .one-click p {
  display: flex;
  color: #534c64;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}

.one-click div p {
  margin: 17px 0;
}

.banner-left .one-click div p svg {
  margin-right: 12px;
}

.banner-right {
  width: 50%;
  text-align: center;
}

.banner-right img {
  width: 80%;
}

.sign-in-btn,
.get-register-btn {
  padding: 21px 40px;
  border: 0;
  border-radius: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}

.get-register-btn {
  border-radius: 48px;
  background: #4ec5f7;
  margin-left: 24px;
}

.we-are-gamer {
  display: flex;
  align-items: center;
}

.we-are-gamer-left-side {
  width: 60%;
}

.we-are-gamer-left-side img {
  width: 100%;
}

.we-are-gamer-right-side {
  width: 40%;
  text-align: right;
}

.we-are-gamer-right-side h3 {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.we-are-gamer-right-side p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin: 24px 0 32px 0;
}

.we-are-gamer-right-side div button {
  padding: 21px 50px;
  border: 0;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.we-are-gamer-right-side h4 span {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  display: block;
}

.we-are-gamer-right-side h4 {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}

.online-games h3 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.online-games h3 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-games p {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.online-games .games-cards {
  display: flex;
  gap: 24px;
}

.online-games .games-cards p {
  text-align: left;
}

.online-games .games-cards .single-card {
  width: calc(25% - 24px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.online-games .games-cards .single-card img {
  width: 100%;
}

.online-games .games-cards .single-card p {
  text-align: left;
  padding: 0 15px;
}

.online-games .games-cards .single-card .card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 60%
  );
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transform: translateY(20px);
}

.online-games .games-cards .single-card .card-content .fa-play {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 20px 22px;
  cursor: pointer;
}

.online-games .games-cards .single-card .card-content:hover {
  width: 100%;
  border: 2px solid #ff42a5;
  border-radius: 16px;
  opacity: 1;
  transform: translateY(0);
}

.online-games .games-cards .single-card img {
  width: 100%;
}

.instant-play,
.play-games-online {
  display: flex;
  margin: 100px 0 0 0;
}

.instant-play-left,
.play-games-online-left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instant-play-left div {
  padding: 200px;
}

.instant-play-left div h3 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.instant-play-left div p,
.play-games-online-right div p {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
}

.instant-play-right,
.play-games-online-right {
  width: 40%;
}

.instant-play-image-box,
.play-games-online-image-box {
  position: relative;
}

.instant-play-image-box .image-one img,
.play-games-online-image-box .image-one img {
  width: 100%;
}

.instant-play-image-box .image-two {
  width: 40%;
  position: absolute;
  bottom: -20%;
  left: -25%;
}

.play-games-online-image-box .image-two {
  width: 40%;
  position: absolute;
  bottom: -20%;
  right: 0;
}

.play-games-online-left div {
  padding: 200px 100px 200px 200px;
}

.play-games-online-left div h3 {
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.gradient-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.games-category .category {
  width: 243px;
  height: 80px;
  border-radius: 50px;
  background: #fff;
}

.games-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 150px 150px 150px 100px;
}

.category {
  width: 243px;
  height: 80px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category:hover {
  width: calc(243px - 5px);
  border-radius: 50px;
  border: 1.5px solid #ff42a5;
  background: #fff;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.games-category .category {
  display: flex;
}

.games-category .category img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-right: 16px;
}

.games-category .category p {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}

footer {
  background: #0b0223;
  padding: 120px;
}

.title-with-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-with-logo img {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
}

.title-with-logo h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.footer-menu ul, .footer-menu-two ul {
  display: flex;
  justify-content: center;
}

.footer-menu ul li, .footer-menu-two ul li {
  list-style: none;
}

.footer-menu ul li a {
  text-decoration: none;
  margin-right: 60px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 60px 0;
}

.footer-menu-two ul li a, .copy-right small {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 60px;
}

.copy-right{
    text-align: center;
    margin-top: 28px;
}

@media screen and (min-width: 325px) and (max-width: 768px) {
  nav,
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .menu ul li {
    margin-top: 20px;
  }

  .banner-area {
    flex-direction: column-reverse;
    padding: 20px 0;
  }

  .banner-left {
    width: 100%;
    background-size: cover;
    padding: 50px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
  }

  .sign-in-btn {
    margin: 20px 0;
  }

  .get-register-btn {
    margin: 0;
  }

  .banner-right {
    width: 100%;
  }

  .we-are-gamer {
    flex-direction: column;
  }

  .we-are-gamer-left-side {
    width: 100%;
  }

  .we-are-gamer-right-side {
    width: 100%;
    text-align: center;
  }

  .online-games > p {
    margin-bottom: 80px;
  }

  .online-games .games-cards {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .online-games .games-cards .single-card {
    width: 80%;
  }

  .instant-play {
    flex-direction: column;
    align-items: center;
    margin: 20% 0%;
  }

  .instant-play-left,
  .instant-play-right,
  .play-games-online-right,
  .play-games-online-left {
    width: 100%;
  }

  .instant-play-left div {
    padding: 20px 50px;
  }

  .instant-play-image-box .image-one img {
    width: 80%;
    position: relative;
    top: 0;
    right: -150px;
  }

  .instant-play-image-box .image-two {
    width: 40%;
    position: absolute;
    bottom: -20%;
    left: 0;
  }

  .play-games-online {
    flex-direction: column-reverse;
    align-items: center;
    margin: 20% 0%;
  }

  .play-games-online-left div {
    padding: 50px;
  }

  .games-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
  }

  footer{
    padding: 50px 0;
    text-align: center;
  }

  .footer-menu ul, .social-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }

  .social-icons{
    padding: 0 120px;
  }

  .footer-menu-two ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 95px;
  }

  .footer-menu ul li a, .footer-menu-two ul li a, .copy-right small{
    margin-right: 0;
  }
  
}
