@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo,
.menu ul {
  display: flex;
  align-items: center;
}

nav h2 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 20px;
}

.pink-text {
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo img {
  width: 86.041px;
  height: 40px;
}

.menu ul {
}

.menu ul li {
  list-style: none;
  margin-left: 32px;
}

.menu ul li a,
.menu ul li button {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.menu ul li button {
  padding: 18px 24px;
  border: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.fa-youtube {
  color: #f61c0d;
  margin: 0 16px 0 24px;
}

.banner-area {
  display: flex;
  align-items: center;
}

.banner-left {
  width: 50%;
  background-image: url("./images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 150px 0;
}

.banner-left p {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.banner-left h1 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.banner-left .one-click {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-left .one-click p {
  display: flex;
  color: #534c64;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}

.one-click div p {
  margin: 17px 0;
}

.banner-left .one-click div p svg {
  margin-right: 12px;
}

.banner-right {
  text-align: center;
}

.banner-right img {
  width: 80%;
}

.sign-in-btn,
.get-register-btn {
  padding: 21px 40px;
  border: 0;
  border-radius: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}

.get-register-btn {
  border-radius: 48px;
  background: #4ec5f7;
  margin-left: 24px;
}

.we-are-gamer {
  display: flex;
  align-items: center;
}

.we-are-gamer-left-side {
  width: 60%;
}

.we-are-gamer-left-side img {
  width: 100%;
}

.we-are-gamer-right-side {
  width: 40%;
  text-align: right;
}

.we-are-gamer-right-side h3 {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.we-are-gamer-right-side p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin: 24px 0 32px 0;
}

.we-are-gamer-right-side div button {
  padding: 21px 40px;
  border: 0;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.we-are-gamer-right-side h4 span {
    color: #534c64;
    font-size: 24px;
    font-weight: 500;
    display: block;
}

.we-are-gamer-right-side h4 {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}



@media screen and (min-width: 325px) and (max-width: 768px) {
  nav,
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .menu ul li {
    margin-top: 20px;
  }

  .banner-area {
    flex-direction: column-reverse;
    padding: 80px 0;
  }

  .banner-left {
    background-size: cover;
    padding: 130px 140px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sign-in-btn {
    margin: 20px 0;
  }

  .we-are-gamer{
    flex-direction: column;
  }
  
  .we-are-gamer-right-side{
    text-align: center;
  }

  .we-are-gamer-right-side h3{
    font-size: 42px;
  }

  .we-are-gamer-right-side h4{
    font-size: 17px;
  }
  
  .we-are-gamer-right-side h4 span{
    font-size: 17px;
  }
}
